body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  background-color: #b1b1b1;
}

div#input {
  display: none;
}

#prompts {
  position: relative;
}

#toolTip {
  font-family: "Lora", serif;
  color: white;
  position: absolute;
  width: 223px;
  top: 140px;
  left: 560px;
  font-size: 14px;
  display: none;
}

main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  width: 45%;
  height: 510px;
  top: 200px;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 30px 30px 4px rgba(0, 0, 0, 0.25);
}

h1 {
  color: white;
  font-size: 40px;
  text-align: center;
  max-width: 485px;
  position: relative;
}

#info {
  color: #b1b1b1;
  text-align: center;
  border-style: solid;
  border-radius: 50px;
  width: 25px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-color: #b1b1b1;
  position: relative;
  cursor: pointer;
  left: 330px;
  top: -63px;
}

#colors {
  display: flex;
  position: relative;
  gap: 50px;
}
#colorSelections {
  position: absolute;
  display: flex;
  gap: 25px;
  top: 227px;
}
.colorSelection {
  width: 110px;
  height: 110px;
  display: flex;
  border-radius: 100px;
  border-width: 5px;
  border-style: solid;
  align-self: center;
  visibility: hidden;
}

#white {
  border-color: #9bd3ae;
}

#blue {
  border-color: #f9aa8f;
}

#black {
  border-color: #b5aafa;
}

#red {
  border-color: #aae0fa;
}

#green {
  border-color: #fffbd5;
}

.color {
  width: 95px;
  height: 95px;
  cursor: pointer;
}

#next {
  display: flex;
  align-items: center;
  position: relative;
  color: rgba(255, 255, 255);
  gap: 10px;
  left: 310px;
  top: -21px;
  cursor: pointer;
  visibility: hidden;
}

#back {
  display: flex;
  align-items: center;
  position: relative;
  color: rgba(255, 255, 255);
  gap: 10px;
  left: -305px;
  top: 60px;
  cursor: pointer;
  visibility: hidden;
}
#arrowsBack {
  width: 20px;
  height: fit-content;
  cursor: pointer;
  rotate: 180deg;
}

h2 {
  font-weight: 400;
  font-size: 30px;
}

#arrows {
  width: 20px;
  height: fit-content;
  cursor: pointer;
}

#cycles {
  font-family: "Lora", serif;
  color: #d9d9d9;
  font-size: 30px;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 40px;
  display: none;
}

.fetchable {
  border-style: solid;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-width: 1px;
  cursor: pointer;
}

.dual {
  border-style: solid;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-width: 1px;
  cursor: pointer;
}

#andOr {
  font-size: 25px;
  text-align: center;
}

.lds-dual-ring {
  display: none;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#landList {
  position: relative;
  list-style: none;
  text-align: center;
  color: white;
  padding-left: 0px;
}

#listArea {
  background-color: #252525;
  display: none;
  /* flex */
  justify-content: center;
  width: 375px;
  height: 250px;
  overflow: scroll;
  font-family: "Lora", serif;
  font-size: 20px;
}

li {
  padding-bottom: 5px;
}

#copyButton {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 258px;
  top: 170px;
  background-color: #2d2d2d;
  padding: 5px 5px 5px 5px;
  cursor: pointer;
}

#copied {
  display: none;
  color: #9bd3ae;
  font-size: 20px;
  position: relative;
  top: 29px;
}

#check {
  width: 20px;
}
